<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.medicalcyborgs.seniorproject2014"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="20" />
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo" >
        <activity
            android:name=".ActivitySplash"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityFragHome"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.medicalcyborgs.seniorproject2014.HOME" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FragDevices"
            android:label="Device Discovery" >
            <intent-filter>
                <action android:name="com.medicalcyborgs.seniorproject2014.DEVICES" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityFitBitWeb"
            android:label="FitBit Web Authorization" >
            <intent-filter>
                <action android:name="com.medicalcyborgs.seniorproject2014.FITBITWEB" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityFitBitAuth"
            android:label="FitBit Authorization" >
            <intent-filter>
                <action android:name="com.medicalcyborgs.seniorproject2014.FITBITAUTH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityFragAccts"
            android:label="FitBit Info" >
            <intent-filter>
                <action android:name="com.medicalcyborgs.seniorproject2014.FITBITDATA" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
